/*
COLOR SCHEME
LIGHT MODE:
BG-COLOR: #99CED3;
FONT: #5F6366;
ACCENT FONT: #4D6D9A;
ACCENT PINK: #EDB5BF;
ACCENT BLUE: #86B3D1;

DARK MODE: 
BG-COLOR: #5F6366;
FONT: #99CED3;
ACCENT FONT: #4D6D9A;
ACCENT PINK: #EDB5BF;
ACCENT BLUE: #86B3D1;

FONTS
font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif;
*/

body {
    background-color: #FFF;
    color: #5F6366;
    font: 1rem 'PT Sans', sans-serif;
}

*a:hover {
    background-color: #EDB5BF;
}

#social_media_links {
    float: left;
    font-size: 3em;
    color: #5F6366;
}

#jumbotron {
    line-height: 1.5;
}

#jumbotron h1 {
    font: 6rem 'PT Serif', serif;
}

#jumbotron h2 {
    font: 4rem 'PT Serif', serif;
}

#social_media_links {
    display: block;
    float: left;
}